body{ font-family: 'PT Sans', sans-serif; } 
        @keyframes FadeOut {
  0% {
    /* position: absolute; */
    opacity: 0;
  }

  75% {
    /* position: absolute; */
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}
.heading{
opacity: 1;
  animation-name: FadeOut;
  animation-duration: 5s;

	}